---

## Ejercicios!

Se asume que ya corrieron los ejercicios mostrados y exploraron un poco el ecosistema de google colab.
 
ðŸ‘‰ **Es super importante** que los hagan para fijar lo que aprendieron. No se frusten si estan 20 minutos para crear una lista, es al principio! 

<br> 

1) Crear dos listas de 5 valores, uno nÃºmerico y otro con string, llamado lista1 y lista2, con los siguientes valores:

1,2,3,4,5

a,b,c,d,e

In [107]:
import pandas as pd

In [106]:
lista1=[1,2,3,4,5]

lista2=["a","b","c","d","e"]

2) Crear e imprimir en pantalla un pandas data frame llamado `d_test` basandose en las listas del punto 1). Nombres de las columnas: `columna_A` y `columna_B`

In [114]:
d_test = pd.DataFrame({"columna_A": lista1, "columna_B": lista2})
d_test

   columna_A columna_B
0          1         a
1          2         b
2          3         c
3          4         d
4          5         e

3) Cargar los datos de heart disease con pandas en una variable llamada `d_hd`. Imprimir en pantalla.

URL: `https://raw.githubusercontent.com/pablo14/datasets/main/heart_disease/heart_disease.csv`

In [152]:
d_hd= pd.read_csv("https://raw.githubusercontent.com/pablo14/datasets/main/heart_disease/heart_disease.csv")
d_hd

,age,gender,chest_pain,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electro,max_heart_rate,exer_angina,oldpeak,slope,num_vessels_flour,thal,heart_disease_severity,exter_angina,has_heart_disease
0,63,male,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0,0,no
1,67,male,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2,1,yes
2,67,male,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1,1,yes
3,37,male,3,130,250,0,0,187,0,3.5,3,0.0,3.0,0,0,no
4,41,female,2,130,204,0,2,172,0,1.4,1,0.0,3.0,0,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,male,1,110,264,0,0,132,0,1.2,2,0.0,7.0,1,0,yes
299,68,male,4,144,193,1,0,141,0,3.4,2,2.0,7.0,2,0,yes
300,57,male,4,130,131,0,0,115,1,1.2,2,1.0,7.0,3,1,yes
301,57,female,2,130,236,0,2,174,0,0.0,2,1.0,3.0,1,0,yes
302,38,male,3,138,175,0,0,173,0,0.0,1,NaN,3.0,0,0,no

In [120]:
# 3.1) Imprimir la variable `age` y `has_heart_disease` al mismo tiempo. No usar loc ni iloc.
d_hd[["age", "has_heart_disease"]]

     age has_heart_disease
0     63                no
1     67               yes
2     67               yes
3     37                no
4     41                no
..   ...               ...
298   45               yes
299   68               yes
300   57               yes
301   57               yes
302   38                no

[303 rows x 2 columns]

In [ ]:
# 3.2) Explorar los datos con DataTable de google colab, usar filtros y ordenar las columnas haciendo click en ellas

In [122]:
# 3.3) Imprimir los primeros 3 registros con head, y los Ãºltomos 3 con tail

# head
d_hd.head(3)

,age,gender,chest_pain,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electro,max_heart_rate,exer_angina,oldpeak,slope,num_vessels_flour,thal,heart_disease_severity,exter_angina,has_heart_disease
0,63,male,1,145,233,1,2,150,0,2.3,3,0.0,6.0,0,0,no
1,67,male,4,160,286,0,2,108,1,1.5,2,3.0,3.0,2,1,yes
2,67,male,4,120,229,0,2,129,1,2.6,2,2.0,7.0,1,1,yes

In [123]:
# tail
d_hd.tail(3)

,age,gender,chest_pain,resting_blood_pressure,serum_cholestoral,fasting_blood_sugar,resting_electro,max_heart_rate,exer_angina,oldpeak,slope,num_vessels_flour,thal,heart_disease_severity,exter_angina,has_heart_disease
300,57,male,4,130,131,0,0,115,1,1.2,2,1.0,7.0,3,1,yes
301,57,female,2,130,236,0,2,174,0,0.0,2,1.0,3.0,1,0,yes
302,38,male,3,138,175,0,0,173,0,0.0,1,NaN,3.0,0,0,no

In [127]:
# 3.4) Acceder con loc a la columna has_heart_disease, y mostrar todos los registros

d_hd.loc[:,"has_heart_disease"]

0       no
1      yes
2      yes
3       no
4       no
      ...
298    yes
299    yes
300    yes
301    yes
302     no
Name: has_heart_disease, Length: 303, dtype: object

In [131]:
# 3.5) Idem 3.4) peor mostrando los primeros 3 registros. Usar slice, no head.

d_hd.loc[:2,"has_heart_disease"]

0     no
1    yes
2    yes
Name: has_heart_disease, dtype: object

In [134]:
# 3.6) Usar iloc para obtener las primeras 3 columnas, y 5 registros

d_hd.iloc[:5,:3]

   age  gender  chest_pain
0   63    male           1
1   67    male           4
2   67    male           4
3   37    male           3
4   41  female           2

4) Trabajando con nulos

In [135]:
# 4.1) Instalar funpymodeling
!pip3 install funpymodeling

3483.70s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: funpymodeling in /Users/joe/Library/Python/3.9/lib/python/site-packages (0.1.8)
Requirement already satisfied: scikit-learn<2.0.0,>=1.2.2 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from funpymodeling) (1.5.1)
Requirement already satisfied: numpy<2.0.0,>=1.24.3 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from funpymodeling) (1.26.4)
Requirement already satisfied: seaborn<0.13.0,>=0.12.2 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from funpymodeling) (0.12.2)
Requirement already satisfied: jupyter<2.0.0,>=1.0.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from funpymodeling) (1.0.0)
Requirement already satisfied: pre-commit<4.0.0,>=3.3.2 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from funpymodeling) (3.7.1)
Requirement already satisfied: typing-extensions<5.0.0,>=4.6.3 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from funpymodeling) (4.12.2)
Requirement already satisfied: matplotlib<4.0.0,>=3.7.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from funpymodeling) (3.9.1)
Requirement already satisfied: flake8<7.0.0,>=6.0.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from funpymodeling) (6.1.0)
Requirement already satisfied: pytest<8.0.0,>=7.3.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from funpymodeling) (7.4.4)
Requirement already satisfied: pandas<3.0.0,>=2.0.2 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from funpymodeling) (2.2.2)
Requirement already satisfied: pyflakes<3.2.0,>=3.1.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from flake8<7.0.0,>=6.0.0->funpymodeling) (3.1.0)
Requirement already satisfied: pycodestyle<2.12.0,>=2.11.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from flake8<7.0.0,>=6.0.0->funpymodeling) (2.11.1)
Requirement already satisfied: mccabe<0.8.0,>=0.7.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from flake8<7.0.0,>=6.0.0->funpymodeling) (0.7.0)
Requirement already satisfied: jupyter-console in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter<2.0.0,>=1.0.0->funpymodeling) (6.6.3)
Requirement already satisfied: notebook in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter<2.0.0,>=1.0.0->funpymodeling) (7.2.1)
Requirement already satisfied: ipywidgets in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter<2.0.0,>=1.0.0->funpymodeling) (8.1.3)
Requirement already satisfied: ipykernel in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter<2.0.0,>=1.0.0->funpymodeling) (6.29.5)
Requirement already satisfied: qtconsole in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter<2.0.0,>=1.0.0->funpymodeling) (5.5.2)
Requirement already satisfied: nbconvert in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter<2.0.0,>=1.0.0->funpymodeling) (7.16.4)
Requirement already satisfied: pillow>=8 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from matplotlib<4.0.0,>=3.7.1->funpymodeling) (10.4.0)
Requirement already satisfied: packaging>=20.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from matplotlib<4.0.0,>=3.7.1->funpymodeling) (24.1)
Requirement already satisfied: fonttools>=4.22.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from matplotlib<4.0.0,>=3.7.1->funpymodeling) (4.53.1)
Requirement already satisfied: importlib-resources>=3.2.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from matplotlib<4.0.0,>=3.7.1->funpymodeling) (6.4.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from matplotlib<4.0.0,>=3.7.1->funpymodeling) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from matplotlib<4.0.0,>=3.7.1->funpymodeling) (0.12.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from matplotlib<4.0.0,>=3.7.1->funpymodeling) (2.9.0.post0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from matplotlib<4.0.0,>=3.7.1->funpymodeling) (1.4.5)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from matplotlib<4.0.0,>=3.7.1->funpymodeling) (3.1.2)
Requirement already satisfied: zipp>=3.1.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from importlib-resources>=3.2.0->matplotlib<4.0.0,>=3.7.1->funpymodeling) (3.19.2)
Requirement already satisfied: pytz>=2020.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from pandas<3.0.0,>=2.0.2->funpymodeling) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from pandas<3.0.0,>=2.0.2->funpymodeling) (2024.1)
Requirement already satisfied: nodeenv>=0.11.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from pre-commit<4.0.0,>=3.3.2->funpymodeling) (1.9.1)
Requirement already satisfied: cfgv>=2.0.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from pre-commit<4.0.0,>=3.3.2->funpymodeling) (3.4.0)
Requirement already satisfied: identify>=1.0.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from pre-commit<4.0.0,>=3.3.2->funpymodeling) (2.6.0)
Requirement already satisfied: pyyaml>=5.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from pre-commit<4.0.0,>=3.3.2->funpymodeling) (6.0.1)
Requirement already satisfied: virtualenv>=20.10.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from pre-commit<4.0.0,>=3.3.2->funpymodeling) (20.26.3)
Requirement already satisfied: tomli>=1.0.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from pytest<8.0.0,>=7.3.1->funpymodeling) (2.0.1)
Requirement already satisfied: iniconfig in /Users/joe/Library/Python/3.9/lib/python/site-packages (from pytest<8.0.0,>=7.3.1->funpymodeling) (2.0.0)
Requirement already satisfied: pluggy<2.0,>=0.12 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from pytest<8.0.0,>=7.3.1->funpymodeling) (1.5.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from pytest<8.0.0,>=7.3.1->funpymodeling) (1.2.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib<4.0.0,>=3.7.1->funpymodeling) (1.15.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from scikit-learn<2.0.0,>=1.2.2->funpymodeling) (3.5.0)
Requirement already satisfied: joblib>=1.2.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from scikit-learn<2.0.0,>=1.2.2->funpymodeling) (1.4.2)
Requirement already satisfied: scipy>=1.6.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from scikit-learn<2.0.0,>=1.2.2->funpymodeling) (1.13.1)
Requirement already satisfied: platformdirs<5,>=3.9.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from virtualenv>=20.10.0->pre-commit<4.0.0,>=3.3.2->funpymodeling) (4.2.2)
Requirement already satisfied: filelock<4,>=3.12.2 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from virtualenv>=20.10.0->pre-commit<4.0.0,>=3.3.2->funpymodeling) (3.15.4)
Requirement already satisfied: distlib<1,>=0.3.7 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from virtualenv>=20.10.0->pre-commit<4.0.0,>=3.3.2->funpymodeling) (0.3.8)
Requirement already satisfied: comm>=0.1.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.2.2)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (5.7.2)
Requirement already satisfied: tornado>=6.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (6.4.1)
Requirement already satisfied: matplotlib-inline>=0.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.1.7)
Requirement already satisfied: pyzmq>=24 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (26.0.3)
Requirement already satisfied: jupyter-client>=6.1.12 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (8.6.2)
Requirement already satisfied: psutil in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (6.0.0)
Requirement already satisfied: traitlets>=5.4.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (5.14.3)
Requirement already satisfied: nest-asyncio in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (1.6.0)
Requirement already satisfied: appnope in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.1.4)
Requirement already satisfied: debugpy>=1.6.5 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (1.8.2)
Requirement already satisfied: ipython>=7.23.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (8.18.1)
Requirement already satisfied: pexpect>4.3 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (4.9.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (3.0.47)
Requirement already satisfied: stack-data in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.6.3)
Requirement already satisfied: decorator in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (5.1.1)
Requirement already satisfied: pygments>=2.4.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (2.18.0)
Requirement already satisfied: jedi>=0.16 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.19.1)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.8.4)
Requirement already satisfied: importlib-metadata>=4.8.3 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter-client>=6.1.12->ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (8.0.0)
Requirement already satisfied: ptyprocess>=0.5 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from pexpect>4.3->ipython>=7.23.1->ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.7.0)
Requirement already satisfied: wcwidth in /Users/joe/Library/Python/3.9/lib/python/site-packages (from prompt-toolkit<3.1.0,>=3.0.41->ipython>=7.23.1->ipykernel->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.2.13)
Requirement already satisfied: widgetsnbextension~=4.0.11 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipywidgets->jupyter<2.0.0,>=1.0.0->funpymodeling) (4.0.11)
Requirement already satisfied: jupyterlab-widgets~=3.0.11 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from ipywidgets->jupyter<2.0.0,>=1.0.0->funpymodeling) (3.0.11)
Requirement already satisfied: bleach!=5.0.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (6.1.0)
Requirement already satisfied: defusedxml in /Users/joe/Library/Python/3.9/lib/python/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.7.1)
Requirement already satisfied: nbclient>=0.5.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.10.0)
Requirement already satisfied: beautifulsoup4 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (4.12.3)
Requirement already satisfied: nbformat>=5.7 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (5.10.4)
Requirement already satisfied: mistune<4,>=2.0.3 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (3.0.2)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (1.5.1)
Requirement already satisfied: jupyterlab-pygments in /Users/joe/Library/Python/3.9/lib/python/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.3.0)
Requirement already satisfied: tinycss2 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (1.3.0)
Requirement already satisfied: jinja2>=3.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (3.1.4)
Requirement already satisfied: markupsafe>=2.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (2.1.5)
Requirement already satisfied: webencodings in /Users/joe/Library/Python/3.9/lib/python/site-packages (from bleach!=5.0.0->nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.5.1)
Requirement already satisfied: fastjsonschema>=2.15 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from nbformat>=5.7->nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (2.20.0)
Requirement already satisfied: jsonschema>=2.6 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from nbformat>=5.7->nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (4.23.0)
Requirement already satisfied: referencing>=0.28.4 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.19.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (2023.12.1)
Requirement already satisfied: attrs>=22.2.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (23.2.0)
Requirement already satisfied: soupsieve>1.2 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from beautifulsoup4->nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (2.5)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (2.14.2)
Requirement already satisfied: jupyterlab<4.3,>=4.2.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (4.2.4)
Requirement already satisfied: notebook-shim<0.3,>=0.2 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.2.4)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (2.27.3)
Requirement already satisfied: websocket-client>=1.7 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (1.8.0)
Requirement already satisfied: send2trash>=1.8.2 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (1.8.3)
Requirement already satisfied: jupyter-events>=0.9.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.10.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.5.3)
Requirement already satisfied: prometheus-client>=0.9 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.20.0)
Requirement already satisfied: overrides>=5.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (7.7.0)
Requirement already satisfied: argon2-cffi>=21.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (23.1.0)
Requirement already satisfied: terminado>=0.8.3 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.18.1)
Requirement already satisfied: anyio>=3.1.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter-server<3,>=2.4.0->notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (4.4.0)
Requirement already satisfied: idna>=2.8 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (3.7)
Requirement already satisfied: sniffio>=1.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from anyio>=3.1.0->jupyter-server<3,>=2.4.0->notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (1.3.1)
Requirement already satisfied: argon2-cffi-bindings in /Users/joe/Library/Python/3.9/lib/python/site-packages (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (21.2.0)
Requirement already satisfied: python-json-logger>=2.0.4 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (2.0.7)
Requirement already satisfied: rfc3339-validator in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->notebook->jupyter<2.0.0,>=1.0.0->funpymodeling) (0.1.1)
Requirement already satisfied: fqdn in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (1.5.1)
Requirement already satisfied: jsonpointer>1.13 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (3.0.0)
Requirement already satisfied: uri-template in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (1.3.0)
Requirement already satisfied: webcolors>=24.6.0 in /Users/joe/Library/Python/3.9/lib/python/site-packages (from jsonschema>=2.6->nbformat>=5.7->nbconvert->jupyter<2.0.0,>=1.0.0->funpymodeling) (24.6.0)

In [136]:
# 4.2) Cargar funciÃ³n status
from funpymodeling.exploratory import status

In [153]:
# 4.3) Â¿QuÃ© variables tienen nulos?  (usar status) 
status(d_hd)

#num_vessels_flour y thal

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,age,0,0.000000,0,0.000000,41,int64
1,gender,0,0.000000,0,0.000000,2,object
2,chest_pain,0,0.000000,0,0.000000,4,int64
3,resting_blood_pressure,0,0.000000,0,0.000000,50,int64
4,serum_cholestoral,0,0.000000,0,0.000000,152,int64
5,fasting_blood_sugar,0,0.000000,258,0.851485,2,int64
6,resting_electro,0,0.000000,151,0.498350,3,int64
7,max_heart_rate,0,0.000000,0,0.000000,91,int64
8,exer_angina,0,0.000000,204,0.673267,2,int64
9,oldpeak,0,0.000000,99,0.326733,40,float64
10,slope,0,0.000000,0,0.000000,3,int64
11,num_vessels_flour,4,0.013201,176,0.580858,4,float64
12,thal,2,0.006601,0,0.000000,3,float64
13,heart_disease_severity,0,0.000000,164,0.541254,5,int64
14,exter_angina,0,0.000000,204,0.673267,2,int64
15,has_heart_disease,0,0.000000,0,0.000000,2,object

In [149]:
# 4.4) Devolver un data frame con todos los registros que tienen NaN en la variable "thal".
 
nan_thal = d_hd.loc[d_hd["thal"].isna(), "thal"]
nan_thal

87    NaN
266   NaN
Name: thal, dtype: float64

In [159]:
# 4.5) Remplazar los nulos que aparecen en la variable "thal por 999. *No* guardarlo en el dataframe original. Usar fillna.
d_hd2=pd.read_csv("https://raw.githubusercontent.com/pablo14/datasets/main/heart_disease/heart_disease.csv")

d_hd2["thal"] = d_hd2["thal"].fillna(999)

status(d_hd2)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,age,0,0.000000,0,0.000000,41,int64
1,gender,0,0.000000,0,0.000000,2,object
2,chest_pain,0,0.000000,0,0.000000,4,int64
3,resting_blood_pressure,0,0.000000,0,0.000000,50,int64
4,serum_cholestoral,0,0.000000,0,0.000000,152,int64
5,fasting_blood_sugar,0,0.000000,258,0.851485,2,int64
6,resting_electro,0,0.000000,151,0.498350,3,int64
7,max_heart_rate,0,0.000000,0,0.000000,91,int64
8,exer_angina,0,0.000000,204,0.673267,2,int64
9,oldpeak,0,0.000000,99,0.326733,40,float64
10,slope,0,0.000000,0,0.000000,3,int64
11,num_vessels_flour,4,0.013201,176,0.580858,4,float64
12,thal,0,0.000000,0,0.000000,4,float64
13,heart_disease_severity,0,0.000000,164,0.541254,5,int64
14,exter_angina,0,0.000000,204,0.673267,2,int64
15,has_heart_disease,0,0.000000,0,0.000000,2,object

In [161]:
# 4.6) Remplazar los nulos que aparecen en la variable "thal" por 999 (como antes), 
# y tambiÃ©n remplazar los nulos de "num_vessels_flour" por el promedio de la variable. 
# Guardar el resultado en un dataframe nuevo llamado "d_hd2".

import numpy as np

d_hd2["num_vessels_flour"] = d_hd2["num_vessels_flour"].fillna(np.mean(d_hd2["num_vessels_flour"]))

In [162]:
# 4.7) Chequear resultado con status

status(d_hd2)

                  variable  q_nan  p_nan  q_zeros   p_zeros  unique     type
0                      age      0    0.0        0  0.000000      41    int64
1                   gender      0    0.0        0  0.000000       2   object
2               chest_pain      0    0.0        0  0.000000       4    int64
3   resting_blood_pressure      0    0.0        0  0.000000      50    int64
4        serum_cholestoral      0    0.0        0  0.000000     152    int64
5      fasting_blood_sugar      0    0.0      258  0.851485       2    int64
6          resting_electro      0    0.0      151  0.498350       3    int64
7           max_heart_rate      0    0.0        0  0.000000      91    int64
8              exer_angina      0    0.0      204  0.673267       2    int64
9                  oldpeak      0    0.0       99  0.326733      40  float64
10                   slope      0    0.0        0  0.000000       3    int64
11       num_vessels_flour      0    0.0      176  0.580858       5  float64
12                    thal      0    0.0        0  0.000000       4  float64
13  heart_disease_severity      0    0.0      164  0.541254       5    int64
14            exter_angina      0    0.0      204  0.673267       2    int64
15       has_heart_disease      0    0.0        0  0.000000       2   object

In [165]:
# 4.8) Mini ejercicio para googlear:
# Eliminar todas los registros con nulos usando `dropna` de pandas

d_hd.dropna(inplace=True)
status(d_hd)

                  variable  q_nan  p_nan  q_zeros   p_zeros  unique     type
0                      age      0    0.0        0  0.000000      41    int64
1                   gender      0    0.0        0  0.000000       2   object
2               chest_pain      0    0.0        0  0.000000       4    int64
3   resting_blood_pressure      0    0.0        0  0.000000      50    int64
4        serum_cholestoral      0    0.0        0  0.000000     152    int64
5      fasting_blood_sugar      0    0.0      254  0.855219       2    int64
6          resting_electro      0    0.0      147  0.494949       3    int64
7           max_heart_rate      0    0.0        0  0.000000      91    int64
8              exer_angina      0    0.0      200  0.673401       2    int64
9                  oldpeak      0    0.0       96  0.323232      40  float64
10                   slope      0    0.0        0  0.000000       3    int64
11       num_vessels_flour      0    0.0      174  0.585859       4  float64
12                    thal      0    0.0        0  0.000000       3  float64
13  heart_disease_severity      0    0.0      160  0.538721       5    int64
14            exter_angina      0    0.0      200  0.673401       2    int64
15       has_heart_disease      0    0.0        0  0.000000       2   object